* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation-bar {
    height: 70px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;

}

.navigation-bar .logo-img {
    vertical-align: middle;
}

.navigation-bar .logo-title {
    display: inline-block;
    vertical-align: middle;
}

.main-section {
    width: 100%;
    background-color: #f6f8f9;
    padding: 50px 0;
}

.content-wrapper {
    width: 600px;
    margin: 0 auto;
    background-color: white;
}

.buttons {
    display: flex;
    gap: 10px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 10px;


}

.first-buttom {
    background-color: #64a2ff;
    color: white;
}

.second-buttom {
    background-color: white;
    color: #d1d5db;
    border-color: #d1d5db;
}

.block {
    padding-top: 20px;
    padding-bottom: 20px;
}
.list {
    padding-left : 50px ; 
}
.section-title {
    padding-bottom : 10px; 
}

.tasks { 
list-style : none ; 
}

.status {
     width: 22px;
  height: 22px;
  border-radius:50%;
  font-size: 14px;
  line-height: 1;
  padding : 4px;
}

.status.done {
    color: green; 
    border: 1px solid green ; 
}

.editorial {
    background-color: #64a2ff;
    padding : 10px ; 
    border-radius: 10px;
    color: white ; 
    font-size : 12px; 
}